#scantologin-container {
  float: left;
  position: relative;
  margin: 0 0 10px;
  border-radius: 5px;
  padding: 90px 9px 9px;
  overflow: hidden;
  width: 150px;
  height: 245px;
  background: #fff url(appstore_icons_vertical.png) no-repeat 0 267px;
  background-size: 100%;
}
#scantologin-container #logo-container.zapperLogo {
  background: #fff url(scan_to_login_logo_vertical.png) no-repeat 8px 0;
  height: 74px;
  width: 122px;
  position: absolute;
  top: 15px;
  left: 22px;
}
.scantologin-qrcode-placeholder {
  text-align: center;
}
#scantologin-container #scantologin-end-container {
  position: absolute;
  top: 243px;
  width: 149px;
  height: 94px;
}
#scantologin-container #scantologin-end-container #scantologin-available-for {
  position: absolute;
  top: 0;
  left: 34px;
  display: block;
  background: #fff url(available_for.png) no-repeat 0 0;
  width: 87px;
  height: 15px;
  background-size: 86%;
}
#scantologin-container #scantologin-end-container #scantologin-zapper-link {
  position: absolute;
  top: 73px;
  left: 24px;
}
form#user-login-form .scantologin-qrcode-placeholder img,
form#user-register-form .scantologin-qrcode-placeholder img {
  margin-left: -13px;
}
form#user-login .scantologin-qrcode-placeholder img {
  margin-left: -16px;
}
#scantologin-container-horizontal {
  float: left;
  position: relative;
  margin: 0 10px 0 0;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  background-size: 100%;
  height: 400px;
}
#scantologin-container-horizontal ul {
  margin: 0;
  padding: 0;
}
#scantologin-container-horizontal ul li {
  display: block;
  float: left;
  border-right: 2px solid #cececd;
  width: 150px;
  height: 135px;
  padding: 5px;
}
#scantologin-container-horizontal li#scantologin-logo {
  background: #fff url(scan_to_login_logo_horizontal.png) no-repeat 25px 35px;
}
#scantologin-container-horizontal img {
  position: absolute;
  left: 168px;
  width: 150px;
  top: -2px;
}
#scantologin-container-horizontal-end {
  border-left: 2px solid #cececd;
  border-left: 2px solid #cececd;
  position: absolute;
  top: 0;
  right: 0;
  width: 189px;
  height: 145px;
  background: #fff url(appstore_icons_horizontal.png) no-repeat 16px 50px;
}
#scantologin-container-horizontal-end #scantologin-available-for {
  position: absolute;
  top: 17px;
  left: 35px;
  display: block;
  background: #fff url(available_for.png) no-repeat 0 0;
  width: 87px;
  height: 15px;
  background-size: 92%;
}
#scantologin-container-horizontal-end #scantologin-zapper-link {
  position: absolute;
  top: 97px;
  left: 24px;
}
.test {
  position: absolute;
}
